apiVersion: argoproj.io/v1alpha1
kind: Rollout
metadata:
  name: mywebapp-rollout 
  namespace: bluegreen-demo
spec:
  replicas: 3
  strategy:
    blueGreen:
      activeService: mywebapp-active-service
      previewService: mywebapp-preview-service
      autoPromotionEnabled: false
  selector:
    matchLabels:
      app: mywebapp
  template:
    metadata:
      labels:
        app: mywebapp
    spec:
      containers:
        - name: mywebapp
          image: habib0905/mywebapp:v1
          ports:
            - containerPort: 8080
          env:
            - name: APP_VERSION
              value: "v1"

          readinessProbe:
            httpGet:
              path: /healthz
              port: 8080
            initialDelaySeconds: 2
            periodSeconds: 5